
section *{
  min-height:30px;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  padding: 0 200px;
}

#err{
  color: red;
}

.info{
 background-color: #00c5ff;
 padding: 2px;
 margin: 2px;
 display: inline-block;
}

